@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /*colors*/

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --dodgerBlue: hsl(210 100% 55.9%);
  --sandy-brown: hsl(29, 90%, 65%);
  --deepSkyBlue: hsla(195.06, 100%, 50%, 1);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  --facebook-cl: rgb(59, 89, 152);
  --linked_in-cl: rgb(23, 106, 255);
  --twitter-cl: rgb(85, 85, 85);
  --instagram-cl: linear-gradient(#8a3ab9, #e95950, #fccc63);

  /* typography */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /* border-radius */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);

    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  /*transition */

  --transition-timing: 0.2s ease;
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
   * spacing
   */

  --section-padding: 60px;


}


.main {
    
  width: 100%
}
.page-header {
  padding: 4.6rem 0 5rem;
 background: url(../img/banner/molly-mears-VcTDB93yiQY-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

.page-title .container-page {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
.page-title .page-title {
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
}


.page-header .page-title span {
    display: block;
    color: #c96;
    font-size: 1.6rem;
    margin-top: .8rem
}





@media screen and (min-width: 768px) {
    .page-header h1 {
        font-size: 3.6rem
    }

    .page-header h1 span {
        font-size: 1.8rem
    }


}

@media screen and (min-width: 992px) {
    .page-header h1 {
        font-size: 4rem
    }

    .page-header h1 span {
        font-size: 2rem
    }

}
.cart-section {
  padding: 5px 9%;
}
.table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  
}

.table th, .table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.table th {
  background-color: #007bff;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
  background-color: #d6eaf8;
}

td img{
width: 40px;
}


.cart-page {
  position: relative;
  margin-top: 30px;
}

.cart-page .cart-page-inner {
  padding: 30px;
  margin-bottom: 30px;
  background: var(--white);
}

.cart-page .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.cart-page .table .thead-dark th {
 
  font-size: 18px;
  font-weight: 600;
  color: var(--dodgerBlue);
  text-align: center;
  background: transparent;
  border-color: var(--dodgerBlue);
  border-bottom: none;
  vertical-align: middle;
}

.cart-page .table td {
  font-size: 16px;
  vertical-align: middle;
}

.cart-page .table .img {
  display: flex;
  align-items: center;
  
}

.cart-page .table .img img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 15px;
}

.cart-page .table .img p {
  display: inline-block;
  text-align: left;
  margin: 0;
}

.cart-page .table td .qty {
  display: inline-flex;

  width: 100px;
  
}

.cart-page .table button {
  display: inline;
  width: 40px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  background: var(--dodgerBlue);
  border: none;
  border-radius: 4px;
}

.cart-page .table button.btn-minus {
  border-radius: 4px 0 0 4px;
}

.cart-page .table button.btn-plus {
  border-radius: 0 4px 4px 0;
}

.cart-page .table button.btn-cart {
  width: auto;
}

.cart-page .table input {
  width: 40px;
  height: 30px;
  font-size: 16px;
  color:var(--white);
  text-align: center;
  background: var(--eerie-black);
  border: none;
}

.cart-page .coupon {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  font-size: 0;
  
}

.cart-page .coupon input {
  width: calc(100% - 135px);
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  color: var(--eerie-black);
  background: var(--white);
  border: 1px solid var(--dodgerBlue);
  border-radius: 4px;
  margin-right: 15px;
  transition: all .3s;
}

.cart-page .coupon input:focus {
  border-color: var(--dodgerBlue);
}

.cart-page .coupon button {
  width: 120px;
  height: 40px;
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  color: var(--dodgerBlue);
  background: var(--white);
  border: 1px solid var(--dodgerBlue);
  border-radius: 4px;
  margin-top: 5px;
}

.cart-page .coupon button:hover {
  color: var(--white);
  background: var(--dodgerBlue);
}

.cart-page .cart-summary {
  position: relative;
  width: 100%;
}

.cart-page .cart-summary .cart-content {
  padding: 30px;
  background: var(--cultured);
}

.cart-page .cart-summary .cart-content h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.cart-page .cart-summary .cart-content p span,
.cart-page .cart-summary .cart-content h2 span {
  float: right;
}

.cart-page .cart-summary .cart-content h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 12px;
  border-top: 1px solid var(--dodgerBlue);
  margin: 0;
}

.cart-page .cart-summary .cart-btn button {
  margin-top: 15px;
  width: calc(50% - 15px);
  height: 50px;
  padding: 2px 10px;
  text-align: center;
  color: var(--dodgerBlue);
  background: var(--white);
  border: 1px solid var(--dodgerBlue);
  border-radius: 4px;
}

.cart-page .cart-summary .cart-btn button:hover {
  color: var(--white);
  background: var(--dodgerBlue);
}

.cart-page .cart-summary .cart-btn button:first-child {
  margin-right: 25px;
  color: #FF6F61;
  background: #ffffff;
  border: 1px solid #FF6F61;
}

.cart-page .cart-summary .cart-btn button:first-child:hover {
  color: #ffffff;
  background: #FF6F61;
}

