@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /*colors*/

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --dodgerBlue: hsl(210 100% 55.9%);
  --sandy-brown: hsl(29, 90%, 65%);
  --deepSkyBlue: hsla(195.06, 100%, 50%, 1);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  --facebook-cl: rgb(59, 89, 152);
  --linked_in-cl: rgb(23, 106, 255);
  --twitter-cl: rgb(85, 85, 85);
  --instagram-cl: linear-gradient(#8a3ab9, #e95950, #fccc63);

  /* typography */
  --fs-0: 2rem
  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /* border-radius */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  
  /*Shadow*/
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);

  /*transition */

  --transition-timing: 0.2s ease;

}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none !important;
  }
  
  li {
    list-style: none;
  }
  
  button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
  }
  
  img,
  button,
  a {
    display: block;
  }
  
  span {
    display: inline-block;
  }
  
  html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
  }
  
  input {
    display: block;
    width: 100%;
    font: inherit;
  }
  
  input::placeholder {
    font: inherit;
  }
  
  body {
    background: var(--white);
  }
  
  /**
     * scrollbar style
     */
  
  body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
  }
  
  body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
  }
  
  /*---------- Reset css styles ----------- */
  
  
  
  
  
  
  video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
  }
  
  
  
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*-----------------------------------*\
      #REUSED STYLE
    \*-----------------------------------*/
  
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .has-scrollbar {
    padding-bottom: 5px;
  }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* for vertical scroll */
    height: 12px;
    /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
  }
  
  .has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
  }
  
  .title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
  }
  .cart-dropdown,
.compare-dropdown {
    display: flex;
    align-self: stretch;
    align-items: center
}

.cart-dropdown .dropdown-toggle,
.compare-dropdown .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    line-height: 1;
    color: #333
}

.cart-dropdown .dropdown-toggle::after,
.compare-dropdown .dropdown-toggle::after {
    display: none
}

.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
    display: block;
    width: 300px;
    z-index: 100;
    font-size: 1.3rem;
    z-index: 1001;
    border: none;
    margin: 1px 0 0;
    padding: 2.2rem 3rem 2.5rem;
    border-radius: 0;
    border: none;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .25s
}

.cart-dropdown .dropdown-menu:before,
.compare-dropdown .dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1px
}

.cart-dropdown .dropdown-menu.dropdown-menu-right,
.compare-dropdown .dropdown-menu.dropdown-menu-right {
    right: -1px
}

.cart-dropdown .btn-remove,
.compare-dropdown .btn-remove {
    position: absolute;
    top: 50%;
    right: -.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    color: #cccccc;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    margin-top: -1.2rem
}

.cart-dropdown .btn-remove:hover,
.cart-dropdown .btn-remove:focus,
.compare-dropdown .btn-remove:hover,
.compare-dropdown .btn-remove:focus {
    color: #333
}

.cart-dropdown:hover .dropdown-toggle,
.cart-dropdown.show .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle {
    color: #c96
}

.cart-dropdown:hover .dropdown-menu,
.cart-dropdown.show .dropdown-menu,
.compare-dropdown:hover .dropdown-menu,
.compare-dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1
}

.compare-dropdown {
    padding-left: 2.5rem
}

.compare-dropdown .dropdown-toggle {
    font-size: 2.6rem
}

.compare-products {
    list-style: none;
    padding: 0;
    margin: 0
}

.compare-product {
    position: relative;
    padding: .5rem 0;
    margin: 0;
    box-shadow: none !important
}

.compare-product:hover {
    box-shadow: none
}

.compare-product-title {
    color: #666;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.35;
    margin: 0;
    letter-spacing: -.01em
}

.compare-product-title a {
    color: inherit
}

.compare-product-title a:hover,
.compare-product-title a:focus {
    color: #c96
}

.compare-actions {
    display: flex;
    align-items: center;
    margin-top: 2rem
}

.compare-actions .action-link {
    font-size: 1.3rem;
    color: #666
}

.compare-actions .action-link:hover,
.compare-actions .action-link:focus {
    color: #c96;
    text-decoration: underline
}

.compare-actions .btn {
    font-size: 1.3rem;
    min-width: 110px;
    margin-left: auto;
    padding-top: .65rem;
    padding-bottom: .65rem
}

.cart-dropdown {
    padding-left: 2.5rem
}

.cart-dropdown .dropdown-toggle {
    font-size: 3.2rem
}

.cart-dropdown .dropdown-toggle i {
    display: inline-block;
    margin-top: -3px
}

.cart-dropdown .cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin-left: .2rem;
    margin-top: .1rem;
    color: #fff;
    background-color: #c96
}

.cart-dropdown .dropdown-cart-products {
    margin-top: -1rem
}

.cart-dropdown .product {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1.6rem 2.4rem 1.6rem 0;
    box-shadow: none;
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: none !important
}

.cart-dropdown .product-image-container {
    position: relative;
    max-width: 60px;
    margin: 0;
    margin-left: auto
}

.cart-dropdown .product-title {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #666;
    text-align: left;
    margin-bottom: .4rem
}

.cart-dropdown .product-title a {
    color: inherit
}

.cart-dropdown .product-title a:hover,
.cart-dropdown .product-title a:focus {
    color: #c96
}

.cart-dropdown .product-cart-details {
    font-weight: 400;
    max-width: 150px;
    font-size: 1.3rem;
    color: #999;
    text-align: left
}

.dropdown-cart-total {
    padding: 1rem 0 .5rem;
    display: flex;
    align-items: flex-end;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 1.1rem
}

.dropdown-cart-total .cart-total-price {
    font-size: 1.5rem;
    margin-left: auto
}

.dropdown-cart-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 .5rem
}

.dropdown-cart-action .btn {
    font-size: 1.3rem;
    min-width: 110px;
    padding-top: .75rem;
    padding-bottom: .75rem
}

.search-toggle {
  position: relative;
  display: block;
  font-size: 2.4rem;
  line-height: 1;
  min-width: 2.5rem;
  padding: .3rem .2rem;
  font-weight: 400;
  color: #333;
  text-align: center;
  z-index: 11
}

.search-toggle:hover,
.search-toggle:focus,
.search-toggle.active {
  color: #c96;
  outline: none !important
}

.header-search {
  position: relative;
  margin: 0;
  font-size: 0;
  line-height: 1;
  padding: 0;
  border: none
}

.header-search .header-search-wrapper {
  position: absolute;
  right: -1.4rem;
  top: 50%;
  margin-top: -20px;
  display: none;
  align-items: stretch;
  overflow: visible;
  border-radius: 20px;
  width: 100%;
  min-width: 270px;
  background-color: #fff;
  border: .1rem solid #ebebeb;
  border-radius: 20px;
  z-index: 10
}

.header-search .header-search-wrapper.show {
  display: flex
}

.header-search .search-wrapper-wide {
  width: 570px
}

.header-search form {
  margin: 0
}

.header-search .select-custom {
  flex: 0 0 200px;
  max-width: 200px;
  padding-right: 0;
  margin: 0;
  align-self: center
}

.header-search .select-custom:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: .1rem;
  height: 2.6rem;
  margin-top: -1.3rem;
  background-color: #ebebeb
}

.header-search .select-custom::after {
  right: 2rem;
  color: #999;
  font-size: 1.2rem
}

.header-search .form-control,
.header-search select {
  line-height: 1;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0;
  background-color: #fff;
  margin: 0
}

.header-search .form-control {
  flex: 1 1 auto;
  padding: .9rem 5rem .9rem 2.3rem;
  width: 100%;
  margin: 0;
  height: 38px;
  line-height: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: none
}

.header-search select {
  width: 100%;
  border: none;
  line-height: 38px;
  height: 38px;
  color: #777;
  padding: .1rem 4rem .1rem 2rem;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none
}

.header-search select:focus {
  outline: none !important
}

.header-search option {
  font-size: 1.3rem;
  padding: .1rem .3rem
}

.header-search .btn {
  flex: 0 0 40px;
  max-width: 40px;
  min-width: 0;
  height: 40px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  cursor: pointer;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1rem;
  border-radius: 0 20px 20px 0
}

.header-search .btn i {
  margin: 0 !important
}

.header-search-extended {
  margin-right: 19rem;
  width: 100%;
  max-width: 570px;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem
}

.header-search-extended .header-search-wrapper {
  border-radius: 30px
}

.header-search-extended .form-control,
.header-search-extended select {
  font-weight: 300
}

.header-search-extended .form-control {
  height: 44px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 2.4rem;
  border-radius: 30px 0 0 30px
}

.header-search-extended select {
  line-height: 44px;
  height: 44px
}

.header-search-extended .btn {
  flex: 0 0 70px;
  max-width: 70px;
  height: 46px;
  font-size: 2rem;
  border-radius: 0 30px 30px 0
}

.header-search-visible .search-toggle {
  display: none
}

.header-search-visible .header-search-wrapper {
  position: static;
  left: auto;
  right: auto;
  top: auto;
  margin-top: 0;
  display: flex
}

.header-search-no-radius .header-search-wrapper,
.header-search-no-radius .form-control,
.header-search-no-radius .btn {
  border-radius: 0
}

.header-search-no-round .header-search-wrapper {
  border-radius: .3rem
}

.header-search-no-round .form-control {
  border-radius: .3rem 0 0 .3rem
}

.header-search-no-round .btn {
  border-radius: 0 .3rem .3rem 0
}

.mobile-menu-toggler {
  border: none;
  background: transparent;
  color: #666;
  padding: .2rem .25rem;
  font-size: 2.8rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem
}

.header-bottom .mobile-menu-toggler {
  margin-top: .55rem;
  margin-bottom: .55rem;
  margin-left: -.4rem
}
